h1{
    color: black;
                text-transform: uppercase;
                font-family: sans-serif;
                font-weight: normal;
                margin-left: 40%;
                padding: 20px 0 10px 0;
}


body{
    background-image: linear-gradient(to right, rgb(209, 216, 255), rgb(6, 44, 100));
}

p{
    text-transform: uppercase;
    margin-left: 5vw;
    font-weight: bold;
    font-size: 1.4em;
    background: linear-gradient(90deg, rgb(202, 201, 201), rgb(224, 224, 224));
    width: 30vw;
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
}




li{
    padding: 2vh;
    font-family: 'Hina Mincho', serif;;
    font-size: 1.4em;
}

